<main>
    <div class="card p-3">
        <div class="row">
            <div class="col-6">
                <div><b>Max Kantur</b></div>
            </div>
            <div class="col-6">
                <div class="text-end"><b>Resume project</b></div>
            </div>
        </div>
    </div>
    <div class="pt-5">
        <h3 class="pb-3">Список сторінок</h3>
        <div class="col-6">
            <img class="card-img-top" src="https://pbs.twimg.com/media/FWQ0BK4X0AIEdIo.jpg">
        </div>

        <div class="pt-3">Погоджуюсь з чоловіком вище <i class="fa-solid fa-arrow-up fa-bounce fa-xl"></i></div>
    </div>
    <div class="row">
        <div class="col-2 pb-2">
            <div class="mt-5 ">
                <a href="/bio" target="_blank" class="btn btn-primary m-1">Bio</a>
                <a href="/skills" target="_blank" class="btn btn-primary m-1">Skills</a>
                <a href="/summary" target="_blank" class="btn btn-primary m-1">Summary</a>
                <a href="/education" target="_blank" class="btn btn-primary m-1">Education</a>
                <a href="/person" target="_blank" class="btn btn-primary m-1">Person</a>
                <a href="/car" target="_blank" class="btn btn-primary m-1">Car</a>
                <a href="/mac" target="_blank" class="btn btn-primary m-1">Mac</a>
                <a href="/facebook" target="_blank" class="btn btn-primary m-1">Facebook</a>
                <a href="/js" target="_blank" class="btn btn-primary m-1">JavaScript</a>
                <a href="/web" target="_blank" class="btn btn-primary m-1">Web</a>
                <a href="/task21" target="_blank" class="btn btn-primary m-1">Task 21</a>
                <a href="/task22" target="_blank" class="btn btn-primary m-1">Task 22</a>
                <a href="/task31" target="_blank" class="btn btn-primary m-1">Task 31</a>
            </div>
        </div>
        <div class="col-3 mt-5 ">
            <a href="/shopcart" target="_blank" class="btn btn-primary m-1"> Shopcart</a>
            <a href="/shopcatalog" target="_blank" class="btn btn-primary m-1">Shopcatalog</a>
            <a href="/shophome" target="_blank" class="btn btn-primary m-1">Shophome</a>
            <a href="/shoporder" target="_blank" class="btn btn-primary m-1">Shoporder</a>
            <a href="/shopproduct" target="_blank" class="btn btn-primary m-1">Shopproduct</a>
            <a href="/shopprofile" target="_blank" class="btn btn-primary m-1">Shopprofile</a>
            <a href="/shopnews" target="_blank" class="btn btn-primary m-1">Shopnews</a>
        </div>
    </div>
    </div>
</main>