{{!-- <nav>
    {{> link text='Skills' href="/skills" line=true}}
    {{> link text='Summary' href="/summary" line=true}}
    {{> link text='Education' href="/education" line=true}}
    {{> link text='Work' href="/work" line=true noLine=true}}
</nav> --}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/skills">Skills</a></li>
        <li class="breadcrumb-item"><a href="/summary">Summary</a></li>
        <li class="breadcrumb-item"><a href="/education">Education</a></li>
        <li class="breadcrumb-item"><a href="/work">Work</a></li>
    </ol>
</nav>